@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-[#0D0D0D] transition-colors duration-300;
  }

  .dark body {
    @apply bg-[#0D0D0D] text-slate-100 ;
  }
}

