@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-black transition-colors duration-300;
  }

  .dark body {
    @apply bg-black text-slate-100 ;
  }
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}